<!doctype html>

<html class="no-js" lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="{{title}}">
        <meta name="application-name" content="{{title}}">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="description" content="{{description}}">
        <meta http-equiv="cleartype" content="on">

        <meta name="apple-mobile-web-app-title" content="{{title}}">
        <meta name="application-name" content="{{title}}">
        <meta name="msapplication-TileColor" content="#4d657a">
        <meta name="msapplication-TileImage" content="assets/favicon/mstile-144x144.png">
        <meta name="msapplication-config" content="browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="assets/favicon/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="assets/favicon/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="assets/favicon/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="manifest.json">
        <link rel="shortcut icon" href="assets/favicon/favicon.ico">

        <meta property="og:title" content="Pedro Guedes - Portfolio">
        <meta property="og:image" content="http://pedroguedes.me/assets/favicon/android-chrome-192x192.png">
        <meta property="og:site_name" content="Pedro Guedes - Product Designer">
        <meta property="og:description" content="This is the work of Pedro Guedes, product designer based in Brazil.">

        <title>{{title}}</title>

        <!-- build:css(.tmp) assets/css/main.css -->
        <!-- bower:css --><!-- endbower -->

        <link rel="stylesheet" href="assets/css/main.css">
        <!-- endbuild -->
    </head>

    <body>
        <div class="container">
            <header role="banner" class="main-header">
                <div class="main-top-header">
                    <div class="logo-pedro-guedes">
                        <img src="assets/img/logo-pedro-guedes.png" alt="Pedro Guedes">

                        <h1 class="person">
                            <span class="person-name">Pedro Guedes</span>
                            <span class="person-role">Product Designer</span>
                        </h1>
                    </div>

                    <!-- <ul class="main-navigation">
                        <li>
                            <a href="#">Home</a>
                        </li>

                        <li>
                            <a href="#">About</a>
                        </li>

                        <li>
                            <a href="#">Resume</a>
                        </li>

                        <li>
                            <a href="#">Blog</a>
                        </li>
                    </ul> -->
                </div>

                <div class="main-bottom-header">
                    <p class="main-header-slogan">Hello, I am a product designer based in Belo Horizonte, a beautiful city in Brazil. I am focused on making digital products, from conception to interface. <br>If you want to see my resumé, <a href="http://pedroguedes.me/" title="View my resume">click here!</a></p>
                </div>
            </header>

            <main role="main" class="main-content">
                {{> body}}
            </main>

            <footer role="contentinfo" class="main-footer">
                <ul class="social-networks main-navigation">
                    <li>
                        <a href="https://www.behance.net/pedroguedes" target="_blank" title="Check out my other jobs">Behance</a>
                    </li>

                    <li>
                        <a href="https://br.linkedin.com/pub/pedro-guedes/45/850/766" target="_blank" title="Get in touch in Linkedin">Linkedin</a>
                    </li>

                    <li>
                        <a href="https://plus.google.com/108143682548956425168/posts" target="_blank" title="Go to my Google Plus profile">Google+</a>
                    </li>

                    <li>
                        <a href="https://medium.com/@guedesign" target="_blank" title="Read my posts on Medium">Medium</a>
                    </li>
                </ul>

                <p class="copyright">&copy; 2015 All rights reserved to Pedro Guedes</p>
            </footer>
        </div>

        <!-- Site Scripts -->
        <!-- build:js assets/js/main.js -->
        <!-- bower:js --><!-- endbower -->

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-65734963-1', 'auto');
          ga('send', 'pageview');

        </script>

        <script src="assets/js/main.js"></script>
        <!-- endbuild -->
    </body>
</html>
